@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #002108,
    20: #003912,
    25: #004618,
    30: #00531e,
    35: #006024,
    40: #006e2a,
    50: #008a37,
    60: #23a64a,
    70: #46c262,
    80: #64df7b,
    90: #81fc94,
    95: #c6ffc6,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2d1600,
    20: #4b2800,
    25: #5a3100,
    30: #6a3b00,
    35: #7b4500,
    40: #8c5000,
    50: #af6500,
    60: #d47b00,
    70: #fa9200,
    80: #ffb874,
    90: #ffdcbf,
    95: #ffeee1,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #410001,
    20: #690002,
    25: #7e0003,
    30: #930004,
    35: #a90006,
    40: #bc1512,
    50: #e03328,
    60: #ff5544,
    70: #ff8a7a,
    80: #ffb4a9,
    90: #ffdad5,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #171d16,
    20: #2b322a,
    25: #363d35,
    30: #424940,
    35: #4d544c,
    40: #596057,
    50: #727970,
    60: #8b9389,
    70: #a6ada3,
    80: #c1c9be,
    90: #dde5d9,
    95: #ecf3e7,
    98: #f4fcf0,
    99: #f7fef2,
    100: #ffffff,
    4: #091009,
    6: #0e150e,
    12: #1b211a,
    17: #252c24,
    22: #30372f,
    24: #343b33,
    87: #d5dcd1,
    92: #e3eadf,
    94: #e9f0e4,
    96: #eff6ea,
  ),
  neutral-variant: (
    0: #000000,
    10: #131e13,
    20: #283327,
    25: #333e32,
    30: #3e4a3d,
    35: #495648,
    40: #556254,
    50: #6e7a6c,
    60: #879485,
    70: #a2af9f,
    80: #bdcab9,
    90: #d9e6d5,
    95: #e7f5e3,
    98: #f0fdeb,
    99: #f6fff1,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
